{% extends "core/base.html" %} {% block title %} Welcome {% endblock %} 

{% block content %}
<div class="py-12 px-6 mt-6 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Newest Items</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for item in items %}
    <div>
      <a href="{% url "item:detail" item.id %}">
        <div>
          <img src="{{item.image.url}}" class="rounded-t-xl" />
        </div>

        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{item.name}}</h2>
          <p class="text-gray-500">Price: {{item.price}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="py-12 px-6 mt-6 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Categories</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for category in categories %}
    <div>
      <a href="#">
        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{category.name}}</h2>
          <p class="text-gray-500">{{category.items.count}} items</p>
          {% comment "" %}The item_set attribute is automatically created by
          Django for reverse relationships when a model has a ForeignKey to
          another model. If your Item model has a ForeignKey to the Category
          model, Django will automatically add a reverse relationship that you
          can access with category.item_set. However, if you have specified a
          related_name for the ForeignKey in your Item model, you should use
          that name instead of item_set. Thats why here we have used items.count instead of item_set.count{% endcomment %}
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
